
@{
    ViewBag.Title = "VendaRealizada";
}

<style>
    .cardVenda {
        width: 65% !important;
    }

    .tituloCabecalho {
        align-items: center;
        justify-content: center;
        display: flex;
        width: auto !important;
        font-size: 30px;
        color: #43b581;
    }
</style>
<h2>Venda Realizada com sucesso!</h2>

<div class="container">
    <div class="card cardVenda">
        <div class="linha">
            <div class="cabecalho">
                <img class="img-responsive" src="~/img/logopetshop.png" width="250" height="250" />
            </div>
            <p class="tituloCabecalho">Animal World &nbsp; - &nbsp; Resumo da Venda</p>
        </div>

        <div class="linha">

        </div>
    </div>

</div>

