
@{
    ViewBag.Title = "HomeGerente";
}

<head>
    <style>

        h2 {
            text-align: center;
            margin: 1.2rem 0 1.2rem 0;
            font-size: 1.2rem;
        }

        h3 {
            text-align:center;
            margin-top: 2rem;
            font-size: 1.6rem;
        }

        h5 {
            font-size: 1.6rem;
        }

        .contAG {
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            align-items:center;
            height:450px;
        }

        .cardAG {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 2px 5px #1f232b5e;
            width: auto;
            height: 55%;
        }

        .cardTitulo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #3CA374;
            color: white;
            padding: 0.8rem;
            text-align: center;
            align-items: center;
            border-radius: 5px 5px 0 0;
        }

        .conteudoHG {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 2rem;
        }

        #iconHG {
            height: 50px;
            padding-right: 0.5rem;
        }

        .actionLinkGerente {
            font-size: 21px;
            color: #43b581;
            font-weight: 300;
        }

        .actionLinkGerente:link{
            text-decoration: none;
        }

        .actionLinkGerente:hover{
            color:#43b581;
            transition: 0.5s ease;
            font-weight: bold;
        }
    </style>
</head>

<div>
    <h3>Área do Gerente</h3>
</div>

<div class="contAG">
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/cadastro.png" id="iconHG" />
            <h5>Cadastros</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Produto/CadastroProd" class="actionLinkGerente">Produtos</a></h2>
            <h2><a href="/Gerente/CadastroFunc" class="actionLinkGerente">Funcionários</a></h2>
            <h2><a href="/Servico/CadServico" class="actionLinkGerente">Serviços</a></h2>
        </div>
    </div>
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/consulta.png" id="iconHG" />
            <h5>Consultas</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Produto/ListaProd" class="actionLinkGerente">Produtos</a></h2>
            <h2><a href="/Cliente/ListaClientes" class="actionLinkGerente">Clientes</a></h2>
            <h2><a href="/Gerente/ListaFunc" class="actionLinkGerente">Funcionários</a></h2>
        </div>
    </div>
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/agendamento.png" id="iconHG" />
            <h5>Agendamentos</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Servico/ListaServicos" class="actionLinkGerente">Serviços</a></h2>
            <h2><a href="/Gerente/ListaAgendamentos" class="actionLinkGerente">Agenda</a></h2>
        </div>
    </div>
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/pedido.png" id="iconHG" />
            <h5>Pedidos</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Venda/ListaPedido" class="actionLinkGerente">Entregas</a></h2>
            <h2><a href="#" class="actionLinkGerente">Descontos</a></h2>
        </div>
    </div>
</div>

