
@{
    ViewBag.Title = "HomeGerente";
}

<head>
    <style>

        h2 {
            text-align: center;
            margin: 1.2rem 0 1.2rem 0;
            font-size: 1.2rem;
        }

        h3 {
            text-align:center;
            margin-top: 2rem;
            font-size: 1.6rem;
        }

        h5 {
            font-size: 1.6rem;
        }

        .contAG {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: auto;
            margin-top: 45px;
        }

        .cardAG {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 2px 5px #1f232b5e;
            width: auto;
            height: 55%;
        }

        .cardTitulo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #3CA374;
            color: white;
            padding: 0.8rem;
            text-align: center;
            align-items: center;
            border-radius: 5px 5px 0 0;
        }

        .conteudoHG {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        #iconHG {
            height: 50px;
            padding-right: 0.5rem;
        }

        .actionLinkGerente {
            font-size: 22px;
            color: #43b581;
            font-weight: 300;
        }

        .actionLinkGerente:link{
            text-decoration: none;
        }

        .actionLinkGerente:hover{
            color:#43b581;
            transition: 0.5s ease;
            font-weight: bold;
        }
    </style>
</head>

<div>
    <h3><i class="fas fa-cogs icon-md"></i>&nbsp; Área do Gerente</h3>
</div>

<div class="contAG">
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/agendamento.png" id="iconHG" />
            <h5>Agendamentos</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Servico/ListaServicos" class="actionLinkGerente"><i class="fas fa-soap"></i> Serviços</a></h2>
            <h2><a href="/Gerente/ListaAgendamentos" class="actionLinkGerente"><i class="far fa-calendar-alt"></i> Agenda</a></h2>
        </div>
    </div>
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/cadastro.png" id="iconHG" />
            <h5>Cadastros</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Produto/CadastroProd" class="actionLinkGerente"><i class="fas fa-pump-soap"></i> Produtos</a></h2>
            <h2><a href="/Gerente/CadastroFunc" class="actionLinkGerente"><i class="fas fa-user-cog"></i> Funcionários</a></h2>
            <h2><a href="/Servico/CadServico" class="actionLinkGerente"><i class="fas fa-soap"></i> Serviços</a></h2>
        </div>
    </div>
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/pedido.png" id="iconHG" />
            <h5>Pedidos</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Gerente/CadastroFornecedor" class="actionLinkGerente"><i class="far fa-copyright"></i> Fornecedores</a></h2>
            <h2><a href="/Venda/ListaPedido" class="actionLinkGerente"><i class="fas fa-dolly-flatbed"></i> Entregas</a></h2>
            <h2><a href="/Gerente/CadastroDesc" class="actionLinkGerente"><i class="fas fa-hand-holding-usd"></i> Descontos</a></h2>
        </div>
    </div> 
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/consulta.png" id="iconHG" />
            <h5>Consultas</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Produto/ListaProd" class="actionLinkGerente"><i class="fas fa-pump-soap"></i> Produtos</a></h2>
            <h2><a href="/Cliente/ListaClientes" class="actionLinkGerente"><i class="fas fa-users"></i> Clientes</a></h2>
            <h2><a href="/Gerente/ListaFunc" class="actionLinkGerente"><i class="fas fa-user-cog"></i> Funcionários</a></h2>
        </div>
    </div>
    <div class="cardAG">
        <div class="cardTitulo">
            <img src="~/img/gerente.png" id="iconHG" />
            <h5>Administrador</h5>
        </div>
        <div class="conteudoHG">
            <h2><a href="/Gerente/ArquivoMorto" class="actionLinkGerente"><i class="fas fa-trash"></i> Lixeira</a></h2>
            <h2><a href="/Home/Logout" class="actionLinkGerente"><i class="fas fa-power-off"></i> Sair</a></h2>
        </div>
    </div>
</div>

