
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea,
select {
    max-width: 280px;
}

/* modifiers */
.--hidden {
    visibility: hidden;
}

.--border {
    border: 1px solid black;
}

.--border-bottom {
    border-bottom: 1px solid black;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* colors */
.--color_primary {
    color: white;
}

.--main-title {
    margin: 20px;
    text-align: center;
    color: #43b581;
    font-size: 28px;
}

.--background_primary {
    background-color: #43b581;
}


/* header */

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__image {
    position: relative;
    bottom: 4px;
    height: 5rem;
    width: auto;
}

.header__content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header__title {
    margin-left: 10px;
    font-size: 2rem;
    display: inline-block;
    justify-self: flex-start;
}

.header__content__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

.header__content__search__input {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
}

.header__content__search__button {
    background-color: transparent;
    border: none;
}

.header__content__search__button__icon {
    height: 2rem;
    width: auto;
    cursor: pointer;
}

.header__content__navcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__content__navcontainer_nav {
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 100%;
    padding: 0.2rem;
}

.header__content__navcontainer__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.75rem;
    width: 100%;
}

.header__content__navcontainer_item__icon {
    height: auto;
    width: 24px;
}

.header__content__navcontainer_item_link {
    flex-grow: 1;
    text-align: center;
    color: #000;
    text-decoration: none;
}

    .header__content__navcontainer_item_link:hover {
        color: #43b581;
        transition-duration: 0.6s;
    }

.header__content__navcontainer__subtitle,
.header__content__subtitle {
    font-size: 1.50rem;
    display: inline-block;
}

.header__content__subtitle__image {
    vertical-align: top;
    cursor: pointer;
}

.header__content__cart {
    width: auto;
    height: 40px;
}


.dropdown-item {
    margin: 0;
    padding-bottom: 5px;
}

    .dropdown-item:hover {
        background-color: #fff;
        color: #43b581;
        transition-duration: 0.6s;
    }

.circulo-carrinho {
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    color: #43b581;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 2.6%;
}

/* body */

.content {
    margin-top: 60px;
}


ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #3CA374;
    padding: 0px;
    margin: 0px;
}

    ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        font-size: 17px;
    }

    ul a {
        font-size: 18px;
        margin-left: 25px;
        text-decoration: none;
        color: white;
    }

        ul a:hover {
            color: none;
        }



.image_subnav {
    width: 45%;
    cursor: pointer;
    float: left;
}

/*
    func DD
*/

#categoria {
    font-size: 18px;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

#menu input[type=checkbox] {
    display: none;
}

    #menu input[type=checkbox] + label {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 25px;
        width: 25px;
        display: inline-block;
    }

.multi-level, .item ul {
    display: none;
}

#menu:checked ~ .multi-level, .item input:checked ~ ul {
    display: block;
}

#categoria label:hover {
    cursor: pointer;
}

#categoria label {
    width: 100%;
    display: block;
    position: relative;
}


.item ul {
    padding: 0 0.25em;
}
/**/

.card {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 2px 5px #1f232b5e;
    border-radius: 10px;
    width: 35rem;
    border: 2px solid #FFF;
}

    .card > h2 {
        font-size: 25px;
        margin-top: 2.2rem;
        margin-bottom: 1.2rem;
        text-align: center;
        color: #43b581;
    }

.input-group {
    font-size: 26px;
}

.card > .btn {
    font-size: 20px;
    margin-top: 2.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#botao {
    margin-top: 15px;
    text-align: center;
}

#botaoLogin {
    background-color: #43b581;
    color: white;
    margin-bottom: 15px;
}

    #botaoLogin:hover {
        border-color: white;
        color: aliceblue;
        transition-duration: 0.6s;
    }

.linkCadastro {
    text-align: center;
    color: #43b581;
    text-decoration: none;
    cursor: pointer;
}


.actionLink {
    color: #fff;
    font-family: Arial;
}

    .actionLink:hover {
        color: #e8e4e4;
    }

    .actionLink:link {
        text-decoration: none;
    }

.container-image img {
    height: 100%;
    width: 100%;
}
/*espécies do home*/
.circuloEspecie {
    display: flex;
    vertical-align: middle;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #3CA374;
    color: #fff;
    margin: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-center {
    margin-top: 5px;
    font-weight: 400;
}

/*cadastro de pet*/
h2 {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.containerCadastro {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardCadastro {
    display: flex;
    align-items: center;
    width: 60%;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px #1f232b5e;
    padding: 10px;
    border-radius: 10px;
}

.avatar {
    vertical-align: middle;
    width: 185px;
    height: 25vh;
    border-radius: 50%;
    padding: 1rem;
}

.avatarCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
}

.dadosCadastro {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%
}

    .linha p {
        width: 100%;
    }

.container {
    height: auto;
    width: auto;
    position: relative;
    border-radius: 10px;
}

    .container .wrapper {
        position: relative;
        height: 25vh;
        width: 90%;
        border-radius: 50%;
        background: #fff;
        border: 2px dashed #c2cdda;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

.wrapper.active {
    border: none;
}

.wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .icon {
    font-size: 100px;
    color: #9658fe;
}

.wrapper .text {
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
}

.wrapper #cancel-btn i {
    position: absolute;
    font-size: 20px;
    right: 45px;
    top: 25px;
    color: #43b581;
    cursor: pointer;
    display: none;
}

.wrapper.active:hover #cancel-btn i {
    display: block;
}

.wrapper #cancel-btn i:hover {
    color: #e74c3c;
}


input[type="file"] {
    display: none;
}

#labelFile {
    font-size: 14px;
    padding: 10px 8px;
    width: auto;
    background-color: #43b581;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}

/*editar pet*/
#EditarCP {
    background-color: #3CA374;
    color: white;
}

.linhaEP {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

/*cadastrar produto*/
.btnProd {
    background-color: #e74c3c !important;
}


.wrapperProd {
    border-radius: 0 !important;
    width: auto !important;
    height: 32vh !important
}

.text-areaProd {
    max-width: 655px;
}

.btnCadastrar {
    margin: 2px 0 0 35px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    width: auto;
}

/*cadastrar serviço*/
.btnServ {
    background-color: #e67c20 !important;
}

.btnCadServico {
    justify-content: center;
    text-transform: uppercase;
    width: 250px;
}

/*listas do gerente*/
.td-image {
    display: flex;
    justify-content: center;
}

/*lista do animal*/
.background {
    vertical-align: middle;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #3CA374
}

.linhaPets {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.linhaCenter {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 10px;
}

.circuloPet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

    .circuloPet p {
        font-size: 1.6rem;
        padding-top: 2rem;
    }

/*vitrine de produtos*/
.contVitrine {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cbcVit {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linhaVitrine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1.6rem
}

.cardVitrine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    font-size: 1rem;
    box-shadow: 0px 2px 7px #9e9e9e;
    border-radius: 10px;
    align-content: stretch;
    padding: 15px;
    margin: 35px;
}

.filtrarVit {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#imgVit {
    height: 175px;
    width: 160px;
}

.actionProduto {
    color: #000;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

    .actionProduto:link {
        text-decoration: none;
    }

.precoVit {
    color: #43b581;
    font-weight: 600;
    margin: 8px;
}

#valor {
    margin-top: 5px;
    font-size: 14px;
}

.addCarrinho {
    background-color: #43b581;
    color: white;
    font-size: 0.8rem;
}

.favVit {
    margin-top: 0.6rem;
    margin-left: 10rem;
    height: 20px;
    width: 20px;
    cursor: pointer
}

.paginaVit {
    margin-bottom: 40px;
}

    .paginaVit span {
        display: inline-block;
        border: 1px solid #000;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }

/*chips de status*/
.chipAndamento {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 25px;
    color: #fff;
    background-color: #fbb830;
}

.chipConcluido {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 25px;
    color: #fff;
    background-color: #27ac2e;
}

.chipCancelado {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 25px;
    color: #fff;
    background-color: #ef1a1a;
}

.textoChip {
    text-align: center;
    padding: 5px !important;
}

/*botões das listas*/
.btnPesquisa:hover {
    border: 1px solid #43b581;
    color: #43b581;
}

/*definição de ícones*/
.icon-sm {
    font-size: 25px !important;
}

.icon-md {
    font-size: 40px !important;
}

.icon-lg {
    font-size: 60px !important;
}

/*layout listas*/
.paginacao {
    margin-top: 5px;
    padding: 2px;
    border-radius: 10px !important;
    display: flex;
    justify-content: flex-start;
}

    .paginacao ul {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #43b581;
    }

        .paginacao ul li {
            padding: 5px;
            color: #000;
        }

    .paginacao a {
        text-decoration: none;
        color: #000;
    }

        .paginacao a:hover {
            color: #43b581;
            transition-duration: 0.6s;
        }

.btn-start {
    margin-top: 25px;
}

.spacing-button{
    margin-right: 5.5px;
}
/* footer */
footer {
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #3CA374;
    font-size: 17px;
}

    footer p {
        margin: 5px;
    }
